<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.bedinotto.perf_view">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <application>
<!--        <service android:name=".VpnController"-->
<!--            android:exported="true">-->
<!--&lt;!&ndash;            android:permission="android.permission.BIND_VPN_SERVICE"&ndash;&gt;-->
<!--            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="vpn" />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.VpnService"/>-->
<!--            </intent-filter>-->
<!--        </service>-->
        <receiver android:name=".NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <activity android:label="SettingsActivity"
            android:name=".NetworkChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
